			<div class="center-block">
				<div class="center-content-block light-block">
					<h2><a href="javascript:void(0);">Дополнительная история</a></h2>
					<div class="content-block-separate"></div>
					<div class="content-text-block">
						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>
						<a href="javascript:void(0);">[Читать полностью]</a>
					</div>
				</div>
				<div class="content-info-block dark-block">
					<p>Опубликовано: <a href="javascript:void(0);">66-66-6666</a> в 66:66</p>
					<p class="separate"> | </p>
					<p>Автор: <a href="javascript:void(0);">The Diablo</a></p>
					<p class="separate second"> | </p>
					<p><a href="javascript:void(0);">УМРИ</a></p>
				</div>
			</div>