<!doctype html>
<html>
<head>
	<title>Creepypasta</title>
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/adaptive.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

	<script type="text/javascript">
			$(window).on('load', function () {
				var preloader = $('#page-preloader'),
					spinner   = preloader.find('.spinner');
				spinner.fadeOut();
				preloader.delay(350).fadeOut('slow');
			});

			$(document).ready(function(){
				$(function() {
					$('#pull').on('click', function() {
						$('.nav-menu div').slideToggle();
					});
				});
			});

			$(function(){
				$('.comment-write').on('click', function() {
					if(!$(this).hasClass('active')){
						$(this).parent().find('.comment-send').fadeIn(500, function(){
							$(this).show(500);
						});
						$(this).addClass('active').html('');
					}
				});
			});
			
			$(document).ready(function(){
				$('.right-block-content').find('h4').on('click', function(){
				var h = $(this).parent().find('div.right-block-href');
					if (h.hasClass('close')) {
						h.slideDown(350, function(){
							h.show().removeClass('close').addClass('open');
						});
					} else {
						h.slideUp(350, function(){
							h.hide().addClass('close').removeClass('open');
						});
					}					
				});
				
				$('input[type="submit"]').on('click', function(){
					if($(this).parent().attr("id") == 'login-box') {
						if (confirm('Залогинься, и да залогинен будешь!')) {
							alert('Login!');
							$(this).blur();
							return false;
						} else {
							$(this).blur();
							return false;
						}
					} else {
					
						if($(this).parent().attr("id") == 'content-box') {
							$.ajax({
								url: "block.html",
								cache: false,
								success: function(html){
									$(html).insertBefore('#content-box').hide().slideDown('show');
								},
								error: function(html){
									$('#content-box').find('input').hide().fadeIn(200, function(){
										$(this).val('К сожалению, истории закончились :(');
									});
								}
							});
							return false;
						} else {
							$(this).blur();
							alert('Click работает, ajax уже выехал');
							return false;
						}
					}
				});
				
				
				$('.center-block').on('click', function(){
					$(this).trigger('mouseenter');
				});
			});
	</script>
	
	<style>
	#page-preloader {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 100500;
	}

	#page-preloader .spinner {
		width: 50px;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 50%;
		background: url('img/spinner.jpg') /*no-repeat 50% 50%*/;
		background-size: contain;
		margin: -25px 0 0 -25px;
	}
	</style>
</head>

<body>
<div id="page-preloader"><span class="spinner"></span></div>
	<div class="menu">
		<ul>
			<li><div class="logo"><a href="/creepy/index.html"></a></div></li>
			<li><a href="/creepy/index.html">Главная</a></li>
			<li class="active"><a href="/creepy/content.html">Песочница</a></li>
			<li><a href="/creepy">Видеозаписи</a></li>
			<li><a href="/creepy">Что такое крипипаста?</a></li>
			<li><a href="/creepy">Правила</a></li>
			<li><a href="/creepy">Добавить видео</a></li>
			<li><a href="/creepy">Обсуждения</a></li>
			<li><a href="/creepy">Прислать историю</a></li>
		</ul>
	</div>
		<div class="nav-menu">
			  <a href="/creepy/index.html" class="logo"></a>
			  <p>Песочница</p>
			  <a id="pull"></a>
				  <div id="lang" style="display: none;">
				  	<ul>
				  		<li><a href="/creepy/index.html">Главная</a></li>
						<li class="active"><a href="/creepy/content.html">Песочница</a></li>
						<li><a href="/creepy">Видеозаписи</a></li>
						<li><a href="/creepy">Что такое крипипаста?</a></li>
						<li><a href="/creepy">Правила</a></li>
						<li><a href="/creepy">Добавить видео</a></li>
						<li><a href="/creepy">Обсуждения</a></li>
						<li><a href="/creepy">Прислать историю</a></li>
					  	<li><h4>Поменять язык:</h4></li>
						<li class="active"><a href="#">Русский</a></li>
						<li><a href="#">English</a></li>
					</ul>
				  </div>
  		</div>

<div class="main">
	<h1>Welcome to Creepypasta!</h1>
		<div class="left-block">
			<div class="left-block-video">
				<div class="block-video light-block"><div class="video-play-icon"></div></div>
				<h4>Как заключить договор с дьяволом?</h4>
			</div>
			
			<div class="left-block-video">
				<div class="block-video light-block"><div class="video-play-icon"></div></div>
				<h4>Это же Крипипаста! О боже мой</h4>
			</div>
			
			<div class="left-block-video">
				<div class="block-video light-block"><div class="video-play-icon"></div></div>
				<h4>Смотри как круто скрывается текст</h4>
			</div>
			
			<div class="left-block-video">
				<div class="block-video light-block"><div class="video-play-icon"></div></div>
				<h4>Видосы и мемы по самым низким текстам</h4>
			</div>
			
			<div class="left-block-video">
				<div class="block-video light-block"><div class="video-play-icon"></div></div>
				<h4>Призвать дьявола бесплатно без смс</h4>
			</div>
			
			<div class="left-block-video">
				<div class="block-video light-block"><div class="video-play-icon"></div></div>
				<h4>Мама, я сатанист! Радуйся!!!</h4>
			</div>
			
		</div>
		
		<div class="center-block-all">
		
			<div class="center-block content-page">
				<div class="center-content-block light-block">
					<h2><a href="javascript:void(0);">Я ненавижу тебя, Томми!</a></h2>
					<div class="content-block-separate"></div>
					<div class="content-text-block">
						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>

						<p>— Да, чёрт возьми! Да! — широко улыбаясь и смеясь, Томми крутился в кресле перед компьютером. — Ма-а-ам! Мама! Меня опубликовали!</p>
						<p>— Молодец, сынок, — мама положила руку на голову мальчика. — Ты доволен?</p>
						<p>— Угу! — закивал головой Томми, на что женщина тепло улыбнулась.</p>
						<p>— А-а-а, та писанина? — на пороге появился мужчина — отец мальчика. — Опубликовали?</p>
						<p>— Да, Джордж, — вступилась за сына мать. — У твоего сына...</p>
						<a href="javascript:void(0);">[Читать полностью]</a>
					</div>
				</div>
				<div class="content-info-block dark-block">
					<div class="left-info">
						<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
						<p class="author">Автор: <a href="javascript:void(0);">Username</a></p>
					</div>
					<div class="right-info">
						<p class="share"><a href="javascript:void(0);">Поделиться...</a></p>
						<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
						<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
					</div>
				</div>
			</div>
			
			<div class="center-block content-page pages">
				<div class="prev-page">
					<a href="javascript:void(0);"><span>Предыдущая страница</span></a>
				</div>
				<div class="next-page">
					<a href="javascript:void(0);"><span>Следующая страница</span></a>
				</div>
			</div>

			<div class="center-block comment-write-block">
				<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
					<div class="comment-area light-block">
						<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
						<div class="comment-send">Отправить</div>
					</div>
			</div>

			<div id="comments">
				<div class="comment-blocks">
					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>

					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>
					
					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>
					
					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>
					
					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="comment-blocks">
					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>

					<div class="center-block">
						<div class="center-content-block light-block comment-block">
							<div class="author-info">
								<p class="avatar" style="background-image:url(img/logon.png);"><a href="javascript:void(0);"></a></p>
								<p class="author"><a href="javascript:void(0);">Username</a></p>
								<p class="date">24 дня назад</p>
								<p class="status">Редактор</p>
							</div>

							<div class="comment-content">
								<p>Ох... Как-то странно мы живём. Буквально год назад все читали страшные истории про жестоких убийц и маньяков, а сейчас, в 2к16 уже читаем истории про редактора... хм, интересный ход. Всё равно народ жрёт.</p>
							</div>

							<div class="comment-info">
								<div class="left-info">
									<a href="javascript:void(0);" class="reply">Ответить</a>
									<a href="javascript:void(0);">Поделиться</a>
								</div>
								<div class="right-info">
									<p class="rep-plus"><span>3</span><a href="javascript:void(0);"></a></p>
									<p class="rep-minus"><a href="javascript:void(0);"></a><span>0</span></p>
								</div>
							</div>

							<div class="comment-reply light-block">
								<div class="comment-write" id="comment-id" contenteditable="true">Напишите свой комментарий...</div>
								<div class="comment-send">Отправить</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="right-block">
		
			<div class="right-block-content light-block">
				<form action="" method="post" id="login-box">
					<input type="text" id="main-login" name="main-login" placeholder="Логин">
					<input type="text" id="main-pass" name="main-pass" placeholder="Пароль">
					<input type="submit" value="Войти">
				</form>
				<a href="javascript:void(0);">Использовать профиль Вконтакте</a>
				<a href="javascript:void(0);">Забыли пароль?</a>
			</div>
			
			<div class="right-block-content light-block">
				<form action="" method="post" id="search-box">
					<input type="text" id="main-search" name="main-search" placeholder="Поиск">
				</form>
				<a href="javascript:void(0);">Лучшие</a>
				<a href="javascript:void(0);">Случайная история</a>
			</div>
			
			<div class="right-block-content light-block">
				<h4>Лучшие крипипасты месяца</h4>
				<div class="open right-block-href">
					<a href="javascript:void(0);">Мишутка</a>
					<a href="javascript:void(0);">Просто дописать</a>
					<a href="javascript:void(0);">Вик. Эпизод 0</a>
					<a href="javascript:void(0);">Я ненавижу тебя, Томми</a>
					<a href="javascript:void(0);">Я тебя найду (переделанная)</a>
					<a href="javascript:void(0);">Часовая бомба внутри меня</a>
					<a href="javascript:void(0);">I Hate Kids</a>
					<a href="javascript:void(0);">Зимний поцелуй</a>
					<a href="javascript:void(0);">М.Е.Т.Р.О I ИСПЫТАНИЯ</a>
				</div>
			</div>
			
			<div class="right-block-content light-block">
				<h4>Обсуждаемые крипипасты</h4>
				<div class="close right-block-href">
					<a href="javascript:void(0);">Мишутка</a>
					<a href="javascript:void(0);">Просто дописать</a>
					<a href="javascript:void(0);">Вик. Эпизод 0</a>
					<a href="javascript:void(0);">Я ненавижу тебя, Томми</a>
					<a href="javascript:void(0);">Я тебя найду (переделанная)</a>
					<a href="javascript:void(0);">Часовая бомба внутри меня</a>
					<a href="javascript:void(0);">I Hate Kids</a>
					<a href="javascript:void(0);">Зимний поцелуй</a>
					<a href="javascript:void(0);">М.Е.Т.Р.О I ИСПЫТАНИЯ</a>
				</div>
			</div>
			
			<div class="right-block-content light-block">
				<h4>Лучшие авторы и критики</h4>
				<div class="close right-block-href">
					<a href="javascript:void(0);">Мишутка</a>
					<a href="javascript:void(0);">Просто дописать</a>
					<a href="javascript:void(0);">Вик. Эпизод 0</a>
					<a href="javascript:void(0);">Я ненавижу тебя, Томми</a>
					<a href="javascript:void(0);">Я тебя найду (переделанная)</a>
					<a href="javascript:void(0);">Часовая бомба внутри меня</a>
					<a href="javascript:void(0);">I Hate Kids</a>
					<a href="javascript:void(0);">Зимний поцелуй</a>
					<a href="javascript:void(0);">М.Е.Т.Р.О I ИСПЫТАНИЯ</a>
				</div>
			</div>
			
			<div class="right-block-content light-block">
				<h4>Новые видеозаписи</h4>
				<div class="close right-block-href">
					<a href="javascript:void(0);">Мишутка</a>
					<a href="javascript:void(0);">Просто дописать</a>
					<a href="javascript:void(0);">Вик. Эпизод 0</a>
					<a href="javascript:void(0);">Я ненавижу тебя, Томми</a>
					<a href="javascript:void(0);">Я тебя найду (переделанная)</a>
					<a href="javascript:void(0);">Часовая бомба внутри меня</a>
					<a href="javascript:void(0);">I Hate Kids</a>
					<a href="javascript:void(0);">Зимний поцелуй</a>
					<a href="javascript:void(0);">М.Е.Т.Р.О I ИСПЫТАНИЯ</a>
				</div>
			</div>
			
			
			
			<div class="right-block-content light-block">
				<form action="" method="post" id="follow-box">
					<input type="text" id="main-follow" name="main-follow" placeholder="E-mail">
					<input type="submit" value="Подписаться">
				</form>
			</div>
			
			
			<div class="right-block-content light-block">
				<h4>Наши подписчики</h4>
				<a href="javascript:void(0);">Елена Иванова</a>
				<a href="javascript:void(0);">Елена Иванова</a>
				<a href="javascript:void(0);">Елена Иванова</a>
				<a href="javascript:void(0);">Елена Иванова</a>
				<a href="javascript:void(0);">Елена Иванова</a>
				<a href="javascript:void(0);">Елена Иванова</a>
			</div>
		</div>

</div>

<div class="footer">
	<div class="footer-content">
		<div class="left-footer">
			<p>Kripipasta © 2017</p>
		</div>
		<div class="right-footer">
			<form action="" method="post" id="follow-box">
				<input type="text" id="main-follow" name="main-follow" placeholder="E-mail">
				<input type="submit" value="Подписаться">
			</form>
			
			<div class="footer-social-links">
				<a href="javascript:void(0);" id="fb" title="Facebook"></a>
				<a href="javascript:void(0);" id="vk" title="Vkontakte"></a>
				<a href="javascript:void(0);" id="ig" title="Instagram"></a>
			</div>
		</div>
	</div>
</div>
</body>
	
</html>